---
import "../styles/global.css";
import "../styles/overrides.css";
---

<header>
  <section class="header">
    <div class="header_title">
      <p>AskExperts</p>
    </div>
    <div class="navigation">
      <a>Home</a>
      <a>Case Study</a>
      <a>Team</a>
      <a>About</a>
    </div>
    <div class="header_button">
      <button>Login</button>
    </div>
  </section>
</header>

<style>
  header {
    grid-column: 1/-1;
    grid-row: 1;
    background-color: #1b1b1b;
    display: grid;
    grid: auto / subgrid;
    color: white;
    padding: 1rem 0;
  }

  .header {
    grid-column: content;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header_title {
    font-size: var(--step-1);
  }

  .navigation a {
    padding: 1rem;
    font-size: var(--step--1);
  }

  .navigation a:hover {
    cursor: pointer;
  }

  .header_button {
    background-color: #ffcc4a;
    border-radius: 20px;
    text-align: center;
    padding: 0.25rem 0.75rem;
    color: black;
  }

  .header_button:hover {
    background-color: #ffd774;
  }
</style>
